# Exercice 1 : Afficher votre nom

In [7]:
print("Bonjour, je m'appelle Lalla Aicha El Vadel")

Bonjour, je m'appelle Lalla Aicha El Vadel

# Exercice 2 : Effectuer quelques calculs

Declare Two Variables

In [3]:
a = 5 
b = 2

Add two variables

In [4]:
print("a + b =", a + b)

a + b = 7

# Exercice 3 : Travailler avec une liste

In [5]:
nombres = [1, 2, 3, 4]
for n in nombres:
    print(n * 2)

2
4
6
8